:host {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1rem;
}

.text {
  padding-right: 1rem;
}

.value {
  font-weight: bold;
}
